In [1]:
import pandas as pd

In [2]:
rps = [0,0,0,0,0,0,0,5,5,5,10,10,20,20,30,45,55,70,95,125]
kps = [1,1,1,1,1,1,1,5,5,5,10,10,12,12,14,16,18,20,23,25]

In [3]:
def kill_point(rank_num:int, kill_assist_num:int) -> float:
    kp = kps[20-rank_num]
    if kill_assist_num < 4:
        point = kp * kill_assist_num
    elif kill_assist_num < 6:
        point = kp * 3 + kp * (5 - kill_assist_num) * 0.8
    else:
        point = kp * 3 + kp * 2 * 0.8 + kp * 1 * 0.5 + kp * (kill_assist_num - 6) * 0.2

    return point


def team_point(rank_num:int, team_kill_num:int) -> float:
    kp = kps[20-rank_num]
    if team_kill_num == 0:
        point = 0
    elif team_kill_num == 1:
        point = kp * 0.4
    elif team_kill_num < 4:
        point = kp * 0.4 + kp * (team_kill_num - 1) * 0.1
    else:
        point = kp * 0.4 + kp * 2 * 0.1 + kp * (team_kill_num - 3) * 0.08
        
    return point

In [4]:
[(kill_point(1, n), team_point(1, n)) for n in range(1, 20)]

[(25, 10.0),
 (50, 12.5),
 (75, 15.0),
 (95.0, 17.0),
 (75.0, 19.0),
 (127.5, 21.0),
 (132.5, 23.0),
 (137.5, 25.0),
 (142.5, 27.0),
 (147.5, 29.0),
 (152.5, 31.0),
 (157.5, 33.0),
 (162.5, 35.0),
 (167.5, 37.0),
 (172.5, 39.0),
 (177.5, 41.0),
 (182.5, 43.0),
 (187.5, 45.0),
 (192.5, 47.0)]

In [5]:
col = ["team kill \\ kill assist"] + [i for i in range(1,21)]

In [8]:
# rankは1st ~ 20th
for r in range(1,21):
    # killは0kill ~ 20kill
    table = []
    for k in range(0,21):
        row = {"kill assist \\ team kill": k}
        for t in range(0,11):
            kp = kill_point(r, k)
            tp = team_point(r, t)
            rp = rps[20 - r]
            row[str(t)] = int(kp + tp + rp)
        table.append(row)
        
        
    if r == 1:
        pd.DataFrame(table).to_csv('01st.csv', index=False)
    elif r == 2:
        pd.DataFrame(table).to_csv('02nd.csv', index=False)
    elif r == 3:
        pd.DataFrame(table).to_csv('03rd.csv', index=False)
    else:
        pd.DataFrame(table).to_csv(str(r).zfill(2)+'th.csv', index=False)

In [7]:
pd.DataFrame(table)

    kill assist \ team kill  0  1  2  3  4  5  6  7  8  9  10
0                         0  0  0  0  0  0  0  0  0  1  1   1
1                         1  1  1  1  1  1  1  1  1  2  2   2
2                         2  2  2  2  2  2  2  2  2  3  3   3
3                         3  3  3  3  3  3  3  3  3  4  4   4
4                         4  3  4  4  4  4  4  4  4  4  4   4
5                         5  3  3  3  3  3  3  3  3  4  4   4
6                         6  5  5  5  5  5  5  5  6  6  6   6
7                         7  5  5  5  5  5  6  6  6  6  6   6
8                         8  5  5  6  6  6  6  6  6  6  6   6
9                         9  5  6  6  6  6  6  6  6  6  6   6
10                       10  5  6  6  6  6  6  6  6  6  6   7
11                       11  6  6  6  6  6  6  6  7  7  7   7
12                       12  6  6  6  6  6  7  7  7  7  7   7
13                       13  6  6  7  7  7  7  7  7  7  7   7
14                       14  6  7  7  7  7  7  7  7  7  7   7
15                       15  6  7  7  7  7  7  7  7  7  7   8
16                       16  7  7  7  7  7  7  7  8  8  8   8
17                       17  7  7  7  7  7  8  8  8  8  8   8
18                       18  7  7  8  8  8  8  8  8  8  8   8
19                       19  7  8  8  8  8  8  8  8  8  8   8
20                       20  7  8  8  8  8  8  8  8  8  8   9